<fusioncharts
  [width]="width"
  [height]="height"
  [type]="type"
  [dataFormat]="dataFormat"
  [dataSource]="dataSource"
>
</fusioncharts>
<a routerLink="/fourth">Previous</a><a routerLink="/sixth">Next</a>